
/* 아이콘 */
.icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon--sm { width: 16px; height: 16px; }
.icon--md { width: 24px; height: 24px; }
.icon--lg { width: 32px; height: 32px; }

.icon--settings {
  background-image: url('../img/icon/settings-icon.svg');
}
.icon--settings.icon--white {
  filter: brightness(0) invert(1);
}
